[package]
name = "dioxus-easyui"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dioxus = "0.3.2"

[dev-dependencies]
dioxus-desktop = "0.3.0"