.nui-example-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nui-example-buttongrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    gap: 0.75rem;
    width: 65%;
}

.nui-example-list {
    padding-top: 0.25rem;
    width: 65%;
}